{% load static %}
<!DOCTYPE html>
<html style="background-color: #efffed;" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{% static 'schedule/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'schedule/css/groups.css' %}" rel="stylesheet">
    <link href="{% static 'schedule/css/lecturer_profile.css' %}" rel="stylesheet">
    <link href="{% static 'schedule/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'schedule/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
            <div class="navbar-brand"></div>
            <div class="navbar-brand">EasySched</div>
            <div class="topnav ms-auto">
                {% if user.is_authenticated %}
                    <div style="color: black" class="me-3">{{ user.email }}</div>
                    <a style="background-color: white" class="btn btn-outline-light" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a class="btn btn-outline-light" href="{% url 'registration' %}">Регистрация</a>
                    <a class="btn btn-outline-light" href="{% url 'login' %}">Вход</a>
                {% endif %}
            </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="sidebar w-25 p-3 d-inline-block">
        <div class="outline">
            <ol>
                <li><a href="{% url 'instruction' %}">Создать расписание</a></li>
                <li><a href="{% url 'lecturers' %}">Учителя</a></li>
                <li><a href="{% url 'subjects' %}">Дисциплины</a></li>
                <li><a href="{% url 'groups' %}">Группы</a></li>
                <li><a href="https://kpfu.ru/itis/obuchenie-v-itis/uchebnye-plany" target="_blank">Учебный план</a></li>
            </ol>
        </div>
    </div>
    <div class="content w-75">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="text-center">
                    <br>
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    window.addEventListener('scroll', function() {
        const navbar = document.querySelector('.navbar');
        navbar.classList.toggle('sticky', window.scrollY > 0);
    });
</script>
</html>
