{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'schedule/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'schedule/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'schedule/css/login.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-4 offset-md-5">
        <div class="form-container margin-top">
            <div class="form-icon"><i class="fa fa-user"></i></div>
            <h1>Вход</h1>

            {% if message %}
                <b>{{ message }}</b>
            {% endif %}

            {% if form.errors %}
                <b>Пожалуйста, исправьте ошибки:</b>
                {{ form.errors }}
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Войти</button>
            </form>
            <br>
        </div>
    </div>
</div>
</body>

