{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма расписания сессии</title>
    <link rel='stylesheet' href="../static/schedule/css/form.css">
    {% comment %}<script type="text/javascript" src="../static/schedule/js/form.js"></script>{% endcomment %}
</head>
<body>
    <input type="hidden" value="{{ lecturer_email }}" id="user_email">
    <input type="hidden" value="{{ lecturer_full_name }}" id="user_full_name">
    <div id="app"></div>
<link rel="stylesheet" href="{% static 'schedule/schedule-frontend/dist/assets/index.css' %}">
<script type="module" crossorigin src="{% static 'schedule/schedule-frontend/dist/assets/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>

