<template>
    <div class="hello">
      <form>
        <div id="new_block1">
          <div class="discipline">
            <label class="check-row">Дисциплина: </label>
            <select class="form-control mb-3" v-model="add_subject" @change="outputFunction">
              <option v-for="(subject, index) in subjects" v-bind:key="index">
                {{ subject.subject_name }}
              </option>
            </select>
          </div>
          <br>
          <label>Группа: </label>
          <br>
            <div id="v-model-multiple-checkboxes" v-for="(number, index) in groups" :key="index">
              <input  type="checkbox" :id="number.group_number" :value="number.group_number"
                      v-model="form" @change="add_gr"/>
              <label :for="number.group_number">{{ number.code_institute_id }}-{{ number.group_number }}</label>
            </div>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  import {URL} from "@/services/const";

  export default {
    name: 'ConForm',
    props: {
      lecturer_data_con: 'lecturer_data_con'
    },
    data() {
      return {
        index: null,
        subjects: this.load_subject(),
        groups:'',
        add_subject: '',
        add_groups:'',
        data_connection:{},
        form:[]
      }
    },
    methods:{
      async load_group (sub){
        try {
          const response = await fetch(`${URL}/api/groups/${sub}`);
          this.groups = await response.json();
        }
        catch(error){
          this.error = "Произошла ошибка при запросе данных, попробуйте еще раз"
        }
      },
      async load_subject (){
        try {
          const response = await fetch(`${URL}/api/subjects/`);
          this.subjects = await response.json();
          if(this.lecturer_data_con !== null){
            this.add_subject = this.lecturer_data_con[0]
            this.form = this.lecturer_data_con[1]
            this.index = this.lecturer_data_con[2]
            await this.outputFunction()
            await this.add_gr()
          }
          else {
            this.add_subject = '-'
          }
        } catch (error) {
            this.error = "Произошла ошибка при запросе данных, попробуйте еще раз"
        }
      },
      async outputFunction(){
        await this.load_group(this.add_subject)
      },
      async add_gr() {
        this.data_connection[this.add_subject] = this.form
        this.$emit('data_connection', {
            data_connection: this.data_connection
        }, this.index)
      },
  
    }
  }
  </script>
  