<template>
  <div class="hello">
    <form>
      <div>
        <label>Email: </label> {{ ' ' }}
        <input @change="get_email" name="email" type="text" v-model="email">
      </div>
      <br>
      <div>
        <label>Фамилия: </label>{{ ' ' }}
        <input @change="get_last_name" name="last_name" type="text" v-model="last_name">
      </div>
      <br>
      <div>
        <label>Имя: </label>{{ ' ' }}
        <input @change="get_first_name" name="first_name" type="text" v-model="first_name">
      </div>
      <br>
      <div>
        <label>Отчество: </label>{{ ' ' }}
        <input @change="get_middle_name" name="middle_name" type="text" v-model="middle_name">
      </div>
      <br>
      <div>
        <label>Telegram: </label>{{ ' ' }}
        <input @change="get_telegram" name="telegram" type="text" v-model="telegram">
      </div>
      <br>
      <div>
        <label>Номер телефона: </label>{{ ' ' }}
        <input @change="get_number_of_phone" name="number_of_phone" type="text" v-model="number_of_phone">
      </div>
    </form>
  </div>
</template>

  <script>
  import {URL} from "@/services/const";

  export default {
    name: 'LecturerForm',
    props: { lecturer_data: 'lecturer_data' },
    data(){
      return {
        email: '',
        last_name: '',
        first_name: '',
        middle_name: '',
        telegram:'',
        number_of_phone:'',
        loading: false
      }
    },
    watch: {
      lecturer_data: function(){
        this.email = this.lecturer_data.email
        this.last_name = this.lecturer_data.last_name
        this.first_name = this.lecturer_data.first_name
        this.middle_name = this.lecturer_data.middle_name
        this.telegram = this.lecturer_data.tg
        this.number_of_phone = this.lecturer_data.phone_number
        this.$emit('email', {
          email: this.email
        })
        this.$emit('last_name', {
          last_name: this.last_name
        })
        this.$emit('first_name', {
          first_name: this.first_name
        })
        this.$emit('middle_name', {
          middle_name: this.middle_name
        })
        this.$emit('telegram', {
          telegram: this.telegram
        })
        this.$emit('number_of_phone', {
          number_of_phone: this.number_of_phone
        })
      }
    },
    methods: {
      async get_email(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('email', {
          email: text
        })
      },
      async get_first_name(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('first_name', {
          first_name: text
        })
      },
      async get_last_name(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('last_name', {
          last_name: text
        })
      },
      async get_middle_name(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('middle_name', {
          middle_name: text
        })
      },
      async get_telegram(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('telegram', {
          telegram: text
        })
      },
      async get_number_of_phone(event) {
        event.stopImmediatePropagation();
        const text = event.target.value;
        this.$emit('number_of_phone', {
          number_of_phone: text
        })
      },
    }
  }
  </script>
