{% extends "schedule/base.html" %}
{% block content %}
    <style>
        .row {
            width: auto;
            margin: auto;
        }
    </style>
    <h1>Редактирование пожелания учителя</h1>
    <br>
    <h3>{{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</h3>
    <h4>{{ lecturer.email }}</h4>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for form in wish_form %}
            <div class="row">
            <div class="w-40 mx-50">
                <label class="sign-in-form__label">Начало экзамена: &nbsp</label>
                {{ form.start_time }}
            </div>
            </div>
            <br>
            <div class="row">
            <div class="w-40 mx-50">
                <label class="sign-in-form__label">Окончание экзамена: &nbsp</label>
                {{ form.end_time }}
            </div>
            </div>
            <br>
            <div class="row">
            <div class="w-40 mx-50">
                <label class="sign-in-form__label">Среднее время экзамена: &nbsp</label>
                {{ form.exam_duration }}
            </div>
            </div>
            <br>
            <div class="row">
            <div class="w-40 mx-50">
                <label class="sign-in-form__label">Количество экзаменов: &nbsp</label>
                {{ form.number_of_exams }}
            </div>
            </div>
            <br>
            <div class="row">
                <label class="sign-in-form__label">Пожелание: &nbsp</label>
                {{ form.wishes }}
            </div>
            <br>
        {% endfor %}
        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}