{% extends "schedule/base.html" %}
{% block content %}
    <h1>Пожелания Учителя</h1>
    <br>
    <h3>{{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</h3>
    <h4>{{ lecturer.email }}</h4>
    <br>
    {% if wishes %}
        <ul>
        {% for wish in wishes %}
            <li>
                <a>Дата: {{ wish.start_time.date }}</a><br>
                <a>Время начала экзамена: {{ wish.start_time.time }}</a><br>
            </li>
        {% endfor %}
        {% with wishes|first as wish %}
            <p>Продолжительность экзамена: {{ wish.exam_duration }}</p>
            {% if wish.wishes != ' ' and wish.wishes != ''%}
                <p>Дополнительная информация: {{ wish.wishes }}</p>
            {% endif %}
        {% endwith %}
        <a href="{% url "form_edit" lecturer.id %}" class="button">Изменить данные формы?</a>
    {% else %}
        <br>
        <p>Форма не заполнение. Хотите ее <a href="{% url 'form' %}">заполнить</a>?</p>
    {% endif %}
</ul>
    <form action="" method="get">
        <a href="{% url "profile" lecturer.id %}" class="button">Личная карта учителя</a>
    </form>
{% endblock %}