{% extends "schedule/base.html" %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <br>
    <div id="app">
    <h1> Загрузка ... </h1>
    </div>
    <link rel="stylesheet" href="{% static 'schedule/lecturer-frontend/dist/assets/index.css'%}">
        <script type="module" src="{% static 'schedule/lecturer-frontend/dist/assets/index.js' %}"></script>
    <br>
    {% if email %}
        <a href="{% url 'delete_lecturer' lecturer.id %}">Удалить учителя</a>
    {% endif %}
{% endblock %}
