{% extends "schedule/base.html" %}
{% block content %}
    <h1>Личная карта Учителя</h1>
    <br>
    <h3>{{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</h3>
    <h4>{{ lecturer.email }}</h4>
    <br>
    {% if subjects_and_groups %}
        <a>Список дисциплин:</a>
        <a href="#hide1" class="hide" id="hide1">Развернуть</a>
        <a href="#show1" class="show" id="show1">Свернуть</a>
        <div class="list">
            <ul>
                {% for sub_and_group in subjects_and_groups %}
                    {{ sub_and_group }}
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>У учителя нет дисциплин</p>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'edit_lecturer' lecturer.id %}" class="button">Изменить личные данные</a>
    <br>
    <a href="{% url 'lecturer_form' lecturer.id %}" class="button">Посмотреть данные формы</a>
{% endblock %}
