{% extends 'schedule/base.html' %}
{% block content %}
    <h1>Вы действительно хотите удалить учителя?</h1>
    <br>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button>Удалить учителя</button>
        <br>
    </form>
{% endblock %}