{% extends "schedule/base.html" %}
{% block content %}
    <form action="" method="get">
        <input value="{{ search|default_if_none:'' }}" name="search" type="text"
               placeholder="Поиск..." aria-label="Search">
        <button type="submit">Поиск</button>
    </form>
    <br>
    <ul>
        {% if all %}
            <a style="color: #00c23d">Все учителя заполнили форму</a>
            <br><br>
        {% endif %}
        <div style="display: flex; justify-content: center;">
            {% if lecturers %}
                <table style="border-collapse: collapse; width: 80%; background-color: white;">
                    <tr>
                        <th style="border: 1px solid black;">ФИО</th>
                        <th style="border: 1px solid black;">Номер телефона</th>
                        <th style="border: 1px solid black;">Имя в телеграме</th>
                        <th style="border: 1px solid black;">Статус заполнения</th>
                    </tr>
                    {% for lecturer in lecturers %}
                        <tr>
                            <td style="border: 1px solid black;text-align: left;padding-left: 7px;"><a style="color: #00c23d" href="{% url "profile" lecturer.id %}">{{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</a></td>
                            <td style="border: 1px solid black;">
                                {% if lecturer.phone_number %}
                                    {{ lecturer.phone_number }}
                                {% else %}
                                    Нет записи
                                {% endif %}
                            </td>
                            <td style="border: 1px solid black;">
                                {% if lecturer.tg %}
                                    {{ lecturer.tg }}
                                {% else %}
                                    Нет записи
                                {% endif %}
                            </td>
                            <td style="border: 1px solid black;">
                                {% if lecturer.id in wishes %}
                                    &nbsp ✔
                                {% else %}
                                    &nbsp ✖
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Нет записей</p>
            {% endif %}
        </div>
    </ul>
{% endblock %}