<template>
<div class="login_field row">
    <label class="sign-in-form__label">ФИО:</label>
        <input type="text" id="search" class="edit" v-model="searchTerm" placeholder="Начните вводить ФИО">
    </div>
  <div v-if="searchLecturers.length" class="autocomplete_container">
    <ul class="list5a">
      <li class="results">
        Найдено {{ searchLecturers.length }} из {{ lecturers.length }} результатов
      </li>
      <hr>
      <li class="lecturers_select" v-for="lecturer in searchLecturers" :key="lecturer.email" @click="selectLecturer(lecturer)">
        {{ lecturer.last_name }}
        {{ lecturer.first_name }}
        {{ lecturer.middle_name }}
        <p class="email">{{ lecturer.email }}</p>
      </li>
    </ul>
    </div>
</template>

<script>
import {ref, computed} from 'vue';
import {URL} from "@/services/const";

export default {
  setup(props, context) {
    const lecturers = ref([]);
    (async () => {
        const response = await fetch(`${URL}/api/lecturers_form/`);
        lecturers.value = await response.json();
        console.log(lecturers.value)
    })()
    let searchTerm = ref('')
    const searchLecturers = computed(() => {
      if (searchTerm.value === '') {
        return []
      }
      let matches = 0
      return lecturers.value.filter(lecturer => {
        if ((lecturer.middle_name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
        lecturer.first_name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
        lecturer.last_name.toLowerCase().includes(searchTerm.value.toLowerCase())) && matches < 5) {
          matches++
          return lecturer
        }
      })
    });
    const selectLecturer = (lecturer) => {
      selectedLecturer.value = lecturer.email
      searchTerm.value = [lecturer.last_name, lecturer.first_name, lecturer.middle_name].join(' ')
      context.emit('EventEmail', [lecturer.email, lecturer.id])
    }
    let selectedLecturer = ref('')
    return {
      lecturers,
      searchTerm,
      searchLecturers,
      selectLecturer,
      selectedLecturer
    }
  }
}
</script>

<style scoped>
.autocomplete_container{
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 15px;
}
.results {
    color: black;
    font-weight: bold;
}
.email{
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}
.list5a {
    padding:0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.list5a li {
    position: relative;
    background-size: 100% 100%;
    z-index: 1;
    margin-bottom: 6px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 3px;
}
.lecturers_select:hover {
  background: #D3D3D3;
  cursor: pointer;
}
</style>
