<script setup>
import MyDatePicker from './components/MyDatePicker.vue'
import Autocomplete from './components/Autocomplete.vue'
</script>

<template>
  <form @submit.prevent="submitForm" class="sign-in-form test" name="registration_form">
    <h1>Форма расписания сессии</h1>
    <template v-if="user_email">
      <div class="login_field row">
        <label class="sign-in-form__label">ФИО:</label>
          <input type="text" class="edit" v-model="user_full_name" placeholder="Начните вводить ФИО">
      </div>
    </template>
    <template v-else>
      <Autocomplete @EventEmail="get_dates_information_by_email"/>
    </template>
    <p v-if="email">Ваш e-mail: <span style="font-weight: bold">{{ email }}</span></p>
    <div class="error" id="loginErr">
      <p style="color: red">{{ error_message }}</p>
    </div>
    <hr v-if="email">
    <div>
        <h3 style="text-align: center">Выберите дни проведения</h3>
    </div>
    <MyDatePicker v-model="date" multi-dates :disabled="email === ''"/>
    <div class="time" id="time">
      <h3 class="loading" v-if="loading">Пожалуйста подождите...</h3>
      <div v-for="(day, index) in date" :key="index">
        <p>{{ get_full_date(day) }}</p>
        <label class="check_p">Могу провести 2 экзамена
          <input v-model="selectedExam[index]" class="check" type="checkbox">
        </label>
        <div v-if="selectedExam[index]">
          <p>Начало 1 экзамена</p>
          <template v-for="time in exams_time.slice(0, 2)" :key="time">
            <input type="radio" :value="{ex1: time, ex2: '13:50'}" v-model="selectedTime[index]">
            <label class="time_ex">{{ time }}</label>
            <br>
          </template>
          <p>Начало 2 экзамена</p>
          <input type="checkbox" checked disabled>
          <label class="time_ex">13:50</label>
          <hr>
        </div>
        <div v-else>
          <p>Начало экзамена</p>
          <template v-for="time in exams_time" :key="time">
            <input type="radio" :value="{ex1: time, ex2: null}" v-model="selectedTime[index]">
            <label class="time_ex">{{ time }}</label>
            <br>
          </template>
          <hr>
        </div>
      </div>
    </div>
    <div class="ex_time">Среднее время проведения экзамена/зачета&nbsp;&nbsp;
    <input v-model="exam_duration" type="time"></div>
    <div class="wishes"><p>Пожелания:</p><textarea v-model="wishes" class="wishes" rows="8"></textarea></div>
    <div class="enter_btn_container">
        <p style="color: red; text-align: center;" >{{ form_error }}</p>
        <button class="enter_btn bad_submit" type="submit">Отправить</button>
    </div>
  </form>
</template>

<script>
  import Cookies from "js-cookie";
  import axios from "axios";
  import {URL} from "@/services/const";

  axios.defaults.xsrfCookieName = 'csrftoken';
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  let user_email = document.getElementById('user_email').value;
  let user_full_name = document.getElementById('user_full_name').value;

  export default {
  data() {
    return {
      date_data: null,
      lecturer_data: null,
      error_message: '',
      email: '',
      wishes: '',
      exam_duration: null,
      date: [],
      exams_time: ["8:30", "10:10", "12:10", "13:50", "15:50"],
      selectedExam: [],
      selectedTime: [],
      user_email: user_email,
      user_full_name: user_full_name,
      lecturer_id: null,
      load_date: [],
      loadSelectedTime: [],
      loadSelectedExam: [],
      form_error: '',
      loading: false,
    };
  },
  watch: {
    date: function () {
      // Если преподаватель до этого не выбирал даты то показываем незаполненные ячейки
      if(this.load_date.length === 0) {
        this.selectedExam = (this.date === null) ? null : new Array(this.date.length).fill(false);
        this.selectedTime = (this.date === null) ? null : new Array(this.date.length).fill({ex1: null, ex2: null});
      }
      // Если преподаватель редактирует даты, которые он вводил раньше то с вводом емайла подтягиваются его данные
      // и записываются в переменную load_date, к которой потом приравнивается переменная date
      else {
        // Если load_date равно date, значит данные загрузились из базы данных и информация просто подставляется
        if(JSON.stringify(this.date) === JSON.stringify(this.load_date)) {
          this.selectedExam = this.loadSelectedExam.slice(0)
          this.selectedTime = this.loadSelectedTime.slice(0)
          this.loading = false
        }
        // Если load_date не равно date, значит date изменилась в результате того, что преподаватель выбрал новые даты
        // или удалил старые, следовательно нужно сохранить старые ячейки и добавить новые (выбранные) даты
        else{
          this.load_new_data()
        }
      }
    },
  },
  methods: {
    load_new_data() {
      this.loadSelectedExam = []
      this.loadSelectedTime = []
      let checkTimeStart = this.load_date.map(x => this.get_full_date(x))
      let check_index = -1
      for(let date_info in this.date){
        check_index = checkTimeStart.indexOf(this.get_full_date(this.date[date_info]))
        if(check_index !== -1){
          this.loadSelectedExam.push(this.selectedExam[check_index])
          this.loadSelectedTime.push(this.selectedTime[check_index])
        }
        else{
          this.loadSelectedExam.push(false)
          this.loadSelectedTime.push({ex1: null, ex2: null})
        }
      }
      this.selectedExam = this.loadSelectedExam
      this.selectedTime = this.loadSelectedTime
      this.load_date = this.date
    },
    set_true_date() {
      let date_new
        for(let time in this.date){
          date_new = new Date(this.date[time])
          date_new.setDate(date_new.getDate() + 1)
          this.date[time] = date_new
        }
    },
    prepare_data() {
      const send_data_array = [];
      for(let i = 0; i < this.date.length; i++){
        send_data_array.push({
          "start_time": this.get_full_date_with_time(this.date[i], this.selectedTime[i].ex1),
          "exam_duration": [this.exam_duration, '00'].join(':'),
          "number_of_exams" : (this.selectedExam[i]) ? 2 : 1,
          "wishes": this.wishes,
          "lecturer": this.lecturer_id
        })
        if(this.selectedExam[i]){
          send_data_array.push({
          "start_time": this.get_full_date_with_time(this.date[i], this.selectedTime[i].ex2),
          "exam_duration": [this.exam_duration, '00'].join(':'),
          "number_of_exams" : (this.selectedExam[i]) ? 2 : 1,
          "wishes": this.wishes,
          "lecturer": this.lecturer_id
        })
        }
      }
      return send_data_array
    },
    async submitForm() {
      if(!(this.email && this.exam_duration && this.selectedTime.length !== 0)) {
        this.form_error = 'Пожалуйста заполните форму'
      }
      else {
        this.form_error = ''
        const csrftoken = Cookies.get('csrftoken');
        const headers = new Headers({
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        });
        const send_data = this.prepare_data()
        await fetch(`${URL}/api/wishes/`,{
          method: "POST",
          body: JSON.stringify(send_data),
          headers: headers,
        }).then(response => {
          if (this.user_email.length > 1) {
            const formData = {lecturer: this.lecturer_id, is_fill: true};
            axios.put(`${URL}/api/comletion/${this.lecturer_id}`, formData)
                .then(response => {
                  console.log(response.data);
                })
                .catch(error => {
                  console.error(error);
                });
            window.location = `${URL}/instruction/wishes/${this.lecturer_id}/`;
          }
          else {
            window.location = `${URL}/instruction/`;
          }
        }).catch(err => {
          console.log(err)
        });
      }
    },
    async load_data_dates (lecturer_id) {
      try {
        const response = await fetch(`${URL}/api/wishes/${lecturer_id}/`);
        this.date_data = await response.json();
      } catch (error) {
        this.error = "Произошла ошибка при запросе данных, попробуйте еще раз"
        console.log(this.error)
      }
    },
    async load_data_lecturers () {
      try {
        const response = await fetch(`${URL}/api/lecturers_form/`);
        this.lecturer_data = await response.json();
      } catch (error) {
        this.error = "Произошла ошибка при запросе данных, попробуйте еще раз"
        console.log(this.error)
      }
    },
    get_lecturer_id (){
      for(let lecturer_info in this.lecturer_data){
        if(this.lecturer_data[lecturer_info].email === this.email){
          this.lecturer_id = this.lecturer_data[lecturer_info].id
          break
        }
      }
    },
    get_full_date (day){
      return [day.getFullYear(), day.getMonth() + 1, day.getDate()].join('-')
    },
    get_time (day){
      return [day.getUTCHours(), day.getMinutes()].join(':')
    },
    get_full_date_with_time (day, time){
      return [this.get_full_date(day), [time, '00'].join(':')].join(' ')
    },
    get_exam_duration (time){
      let hours = Math.floor(time/3600)
      if(hours < 10){
        hours = '0' + String(hours)
      }
      let minutes = (time % 3600) / 60
      if(minutes < 10){
        minutes = '0' + String(minutes)
      }
      this.exam_duration = [hours, minutes].join(':')
    },
    async get_dates_information_by_email (data){
      this.loading = true
      this.email = data[0]
      this.load_date = []
      this.loadSelectedTime = []
      this.loadSelectedExam = []
      this.exam_duration = null
      this.lecturer_id = null
      this.wishes = ''
      this.form_error = ''
      this.get_lecturer_id()
      if (this.lecturer_id != null){
        await this.load_data_dates(this.lecturer_id)
        let exam_time = ''
        let second_exam_index = -1
        let start_date = null
        for(let date_info in this.date_data){
          start_date = new Date(this.date_data[date_info].start_time)
          exam_time = this.get_time(start_date)
          second_exam_index = this.load_date.indexOf(this.get_full_date(start_date))
          if(this.load_date.length === 0) {
            this.get_exam_duration(this.date_data[date_info].exam_duration)
            this.wishes = this.date_data[date_info].wishes
          }
          if(second_exam_index !== -1){
            if(this.loadSelectedTime[second_exam_index].ex1 === "13:50"){
              this.loadSelectedTime[second_exam_index].ex1 = exam_time
            }
            this.loadSelectedTime[second_exam_index].ex2 = "13:50"
            this.loadSelectedExam[second_exam_index] = true
          }
          else {
            this.loadSelectedTime.push({"ex1": exam_time, "ex2": null})
            this.loadSelectedExam.push(false)
            this.load_date.push(this.get_full_date(start_date))
          }
        }
        this.load_date = this.load_date.map(function(x) {return new Date(x)})
        this.date = this.load_date
        if(this.date.length === 0){
          this.loading = false
        }
      }
    }
  },
  async mounted() {
    this.loading = true
    await this.load_data_lecturers()
    if (this.user_email.length > 1){
        await this.get_dates_information_by_email([this.user_email])
      }
    this.loading = false
  }
}
</script>

<style scoped>
.time_ex {
  display: inline-block;
  margin-left: 10px;
}
.list5a li:hover(.results) {
  background: #D3D3D3;
}
.loading {
  text-align: center;
}
</style>
