html {
    background-color: rgb(237, 243, 253);
}

body {
    background-color: rgb(237, 243, 253);
    margin: 0;
    padding: 0;
}

a {
    color: #00c23d !important;
}

.navbar {
    background-color: #33FF66;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    margin: 0;
    color: black !important;
}

.navbar-brand:focus,.navbar-brand:hover {
    color: #006f23 !important;
}

.topnav {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.topnav a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

.container-fluid {
    background-color: #e1ffdd;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.sidebar {
    border: 1px solid #33FF66;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 5px;
    position: sticky;
    top: 110px;
    width: 100px;
    min-width: 100px;
    height: calc(100vh - 600px); /* Установите желаемую высоту для боковой панели */
    overflow-y: auto;
}

.sidebar ol {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #006f23;
    text-decoration: none;
}

.content {
    background-color: #efffed;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 20px;
}