.row {
    vertical-align: top;
    height: auto !important;
}

.list {
    display: none;
}

.show {
    display: none;
}

.hide:target + .show {
    display: inline;
}

.hide:target {
    display: none;
}

.hide:target ~ .list {
    display: inline;
}
.mail_lecturer {
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/*@media  print { .hide, .show { display: none; } }