.container-fluid {
    margin-top: 40px;
}

.form-container {
    margin-top: 20px;
}

.btn {
    background-color: #33FF66;
    border: var(--bs-btn-border-width) solid #33FF66;
}

.btn:hover {
    background-color: #006f23;
    border: var(--bs-btn-border-width) solid #006f23;
}

.btn:active {
    background-color: #006f23;
    border: var(--bs-btn-border-width) solid #006f23;
}