{% extends 'schedule/base.html' %}
{% block content %}
    <h1>Вы действительно хотите удалить группу?</h1>
    <br>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}

        <button>Удалить группу</button>
        <br>
    </form>
{% endblock %}