{% extends "schedule/base.html" %}
{% block title %}Добавление группы{% endblock %}
{% block content %}
    {% if group_number %}
        <h1>Редактирование группы</h1>
    {% else %}
        <h1>Добавление группы</h1>
    {% endif %}
    <br>
    <form action="" method="post" enctype="multipart/form-data" style="border: 1px solid black; border-radius: 10px; padding: 10px; width: 400px;margin-left: 300px;margin-top: 50px;background-color: whitesmoke;text-align: left;">
        {% csrf_token %}
    {% if form.year_of_study.errors %}
        <span style="color: red;">{{ form.year_of_study.errors }}</span>
    {% endif %}
        <br>
        <label for="{{ form.group_number.id_for_label }}">{% if form.group_number.field.required %}<span style="color: red;">*</span>{% endif %}Номер группы: &nbsp</label>
        {{ form.group_number }}
        <br>
        <br>
        <label>Телеграм группы: &nbsp</label>
        {{ form.leader_tg }}
        <br>
        <br>
        <label for="{{ form.type_of_education.id_for_label }}"></span>Коментарий: &nbsp</label>
        <input>
        <br>
        <br>
        <div style="display: flex; justify-content: center;">
        <button>Сохранить</button>
        </div>
        &nbsp &nbsp
        {% if group_number %}
            <a href="{% url 'delete_group' group_number %}">Удалить группу</a>
        {% endif %}
    </form>
{% endblock %}