{% extends "schedule/base.html" %}
{% block content %}
    <script>
        function getRandomLetter() {
            const letters = ['Группа с нуля', '-', '5-6 классы', '7-8 классы', '9-11 классы', 'Продвинутая группа', 'Старт обучения 01.09.2024'];
            return letters[Math.floor(Math.random() * letters.length)];
        }

        function fillRandomLetters() {
            const cells = document.querySelectorAll('.random-letter');
            cells.forEach(cell => {
                cell.textContent = getRandomLetter();
            });
        }

        document.addEventListener('DOMContentLoaded', fillRandomLetters);
    </script>
    <h1>Группы</h1>
    <br>
    <form action="" method="get">
        <input value="{{ search|default_if_none:'' }}" name="search" type="text"
               placeholder="Поиск..." aria-label="Search">
        <button type="submit">Поиск</button>
    </form>
    <br>
    <a href="{% url "add_group" %}">
        Добавить группу
    </a>
    <br>
    <br>
    <div style="width: 80%; margin: 0 auto;">
        {% if groups %}
            <table style="border-collapse: collapse; width: 100%; background-color: white">
                <tr>
                    <th style="border: 1px solid black;">Номер</th>
                    <th style="border: 1px solid black;">Телеграм группы</th>
                    <th style="border: 1px solid black;">Коментарии</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td style="border: 1px solid black;">
                            <a href="{% url "group" group.group_number %}">
                                {{ group.code_institute.code_institute }}-{{ group.group_number }}
                            </a>
                        </td>
                        <td style="border: 1px solid black;"><a href="https://t.me/{{ group.leader_tg }}">{{ group.leader_tg }}</a></td>
                        <td class="random-letter" style="border: 1px solid black;"></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Нет записей</p>
        {% endif %}
    </div>
    <br>
    <br>
{% endblock %}

