{% extends "schedule/base.html" %}

{% block content %}
    <style>
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        background-color: white;
        }
    table{
        margin: auto;
        margin-top: 20px;
        margin-left: 315px;
    }
    </style>
    <h1>{{ group.code_institute.code_institute }}-{{ group.group_number }}</h1>
    <div>
        {% if group.leader_tg %}
            <p>Телеграм группы: <a href="https://t.me/{{ group.leader_tg }}"> {{ group.leader_tg }}</a></p>
        {% endif %}
        <p>Комментарий: группа с нуля</p>
    </div>
    <a href="{% url 'edit_group' group.group_number %}">Редактирование</a>
    <table>
        <tr>
            <td style="font-weight: 700;">Учащиеся</td>
            <td style="font-weight: 700;">Телефон</td>
        </tr>
        <tr>
            <td>Иванов Иван Иванович</td>
            <td>+7 (901) 123-45-67</td>
        </tr>
        <tr>
            <td>Петров Петр Петрович</td>
            <td>+7 (902) 234-56-78</td>
        </tr>
        <tr>
            <td>Сидоров Сергей Сергеевич</td>
            <td>+7 (903) 345-67-89</td>
        </tr>
        <tr>
            <td>Кузнецова Анна Викторовна</td>
            <td>+7 (904) 456-78-90</td>
        </tr>
        <tr>
            <td>Смирнов Александр Владимирович</td>
            <td>+7 (905) 567-89-01</td>
        </tr>
        <tr>
            <td>Фёдорова Елена Ивановна</td>
            <td>+7 (906) 678-90-12</td>
        </tr>
        <tr>
            <td>Михайлов Михаил Андреевич</td>
            <td>+7 (907) 789-01-23</td>
        </tr>
        <tr>
            <td>Новикова Мария Сергеевна</td>
            <td>+7 (908) 890-12-34</td>
        </tr>
        <tr>
            <td>Васильев Василий Васильевич</td>
            <td>+7 (909) 901-23-45</td>
        </tr>
        <tr>
            <td>Ковалёв Дмитрий Юрьевич</td>
            <td>+7 (910) 012-34-56</td>
        </tr>
    </table>
    <br>
{% endblock %}