{% extends "schedule/base.html" %}
{% block content %}
    <script>
        function getRandomLetter() {
            const letters = ['Групповое/Индивидуальное', 'Групповое', 'Индивидуальное'];
            return letters[Math.floor(Math.random() * letters.length)];
        }

        function fillRandomLetters() {
            const cells = document.querySelectorAll('.random-letter');
            cells.forEach(cell => {
                cell.textContent = getRandomLetter();
            });
        }

        document.addEventListener('DOMContentLoaded', fillRandomLetters);
    </script>
    <h1>Дисциплины</h1>
    <br>
    <form action="" method="get">
        <input value="{{ search|default_if_none:'' }}" name="search" type="text"
               placeholder="Поиск..." aria-label="Search">
        <button type="submit">Поиск</button>
    </form>
    <br>
    <form action="" method="get">
        <select name="course">
            <option value="">Все курсы</option>
            <option value="1">1 курс</option>
            <option value="2">2 курс</option>
            <option value="3">3 курс</option>
            <option value="4">4 курс</option> 
        </select>
        <button type="submit">ОК</button>
    </form> 
    <br>
    <a href="{% url "add_subject" %}">
        Добавить дисциплину
    </a>
    <br>   
    <br>
    <div style="display: flex; justify-content: center;">
        {% if subjects %}
            <table style="border-collapse: collapse; width: 80%;background-color: white;">
                <tr>
                    <th style="border: 1px solid black;">Название</th>
                    <th style="border: 1px solid black;">Тип занятия</th>
                </tr>
                {% for subject in subjects %}
                    <tr>
                        <td style="border: 1px solid black;text-align: left;padding-left: 7px;"><a href="{% url "subject" subject.subject_name %}">{{ subject.subject_name }}</a></td>
                        <td class="random-letter" style="border: 1px solid black;"></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Нет дисциплин</p>
        {% endif %}
    </div>
    <br>
    <br>
{% endblock %}
