{% extends "schedule/base.html" %}
{% block title %}Добавление дисциплины{% endblock %}
{% block content %}
    {% if subject_name %}
        <h1>Редактирование дисциплины</h1>
    {% else %}
        <h1>Добавление дисциплины</h1>
    {% endif %}
    <br>
    {% if form.errors %}
        <b>Такая дисциплина уже преподается на этом курсе</b>
        <br>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" style="border: 1px solid black; border-radius: 10px; padding: 10px; width: 400px;margin-left: 300px;margin-top: 50px;background-color: whitesmoke;text-align: left;">
        {% csrf_token %}
        <br>
        <label>Название дисциплины: &nbsp</label>
        {{ form.subject_name }}
        <br>
        <br>
        <label>Тип занятия: &nbsp</label>
        {{ form.is_elective_course }}
        <br>
        <br>
        <div style="display: flex; justify-content: center;">
        <button>Сохранить</button>
        </div>
        &nbsp &nbsp
        {% if subject_name %}
            <a href="{% url 'delete_subject' object.subject_name %}">Удалить дисциплину</a>
        {% endif %}
    </form>
{% endblock %}

