{% extends "schedule/base.html" %}

{% block content %}
    {# переменные из контекста используем с двойными фигурными скобками #}
    <h1>{{ subject.subject_name }}</h1>
    <br>
    <div>
        {% if subject.is_elective_course %}
    <h4>Тип занятия: Индивидуальное</h4>
    {%else %}
    <h4>Тип занятия: Групповое</h4>
    {% endif %}
    </div>
    <a href="{% url 'edit_subject' subject.subject_name %}">Редактирование</a>
    <br>
{% endblock %}