{% extends "schedule/base.html" %}
{% block content %}
    <ol>
        {% if emails %}
            <li><a href="{% url 'send_letters' %}">Разослать учителям формы для указания свободных дат и времени
            </a><a> &nbsp ✔ (Формы разосланы) </a></li>
        {% else %}
            <li><a href="{% url 'send_letters' %}">Разослать учителям формы для указания свободных дат и
                времени</a></li>
        {% endif %}
        <br>
        {% if all and emails %}
            <li><a href="{% url 'wishes' %}">Полученные данные от учителей</a>
                <a> &nbsp ✔ (Все данные получены) </a>
            </li>
        {% else %}
            <li><a href="{% url 'wishes' %}">Полученные данные от учителей.</a></li>
        {% endif %}
        <br>
        {% if exam and all and emails %}
            <li><a href="{% url 'generate' %}">Сгенерировать расписание</a>
                <a>&nbsp ✔ (Расписание сгенерированно) </a></li>
        {% else %}
            <li><a href="{% url 'generate' %}">Сгенерировать расписание</a></li>
        {% endif %}
    </ol>
{% endblock %}

