{% extends "schedule/base.html" %}
{% block content %}
    <script>
        function check(checkboxes, value) {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = value;
            }
        }
    </script>
    {% if already_send_lecturers %}
        <style>
            .row {
                vertical-align: top;
                height: auto !important;
            }

            .list {
                display: none;
            }

            .show {
                display: none;
            }

            .hide:target + .show {
                display: inline;
            }

            .hide:target {
                display: none;
            }

            .hide:target ~ .list {
                display: inline;
            }

            /*@media  print { .hide, .show { display: none; } }
</style>
        <h2>Письма уже были отправлены!</h2>
        <a href="#hide1" class="hide" id="hide1">Развернуть</a>
        <a href="#show1" class="show" id="show1">Свернуть</a>
        <div class="list">
            <ul>
                {% for lecturer in already_send_lecturers %}
                    <div>
                        <a href="{% url "profile" lecturer.id %}">
                            {{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <br>
        <hr>
    {% endif %}
    <h3>Выберите учителей для расслылки формы со сбором пожеланий:</h3>
    <br>
    <form action="" method="get">
        <input value="{{ search|default_if_none:'' }}" name="search" type="text"
               placeholder="Поиск..." aria-label="Search">
        <button type="submit">Поиск</button>
    </form>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class='mail_lecturer'>
            {% for lecturer in lecturers %}
                <input type="checkbox" class="checkboxacti" id="{{ lecturer.email }}" name="list"
                       value="{{ lecturer.email }}">
                <label for="name">{{ lecturer.last_name }} {{ lecturer.first_name }} {{ lecturer.middle_name }}</label>
                <br>
            {% endfor %}
        </div>
        <br>
        {% if lecturers %}
            <input type="button" value="Выделить все" onclick="check(this.form.list, 1)">
            <input type="button" value="Снять выделение" onclick="check(this.form.list, 0)">
            <br>
            <br>
            <br>
        {% endif %}
        <label for="email_text">Тема письма:</label>
        <input type="text" name="email_type" value="{{ email_type }}">
        <br>
        <br>
        <label for="email_text">Текст письма:</label>
        <textarea cols="60" rows="5" name="email_text">{{ text_email }}</textarea>
        <br>
        <br>
        <input type="submit" id="send_emails" name="submit" value="Отправить emails">
        <br>
        <br>
        <small>{{ message }}</small>
    </form>
{% endblock %}
