{% extends "schedule/base.html" %}
{% block content %}
    {% if not_wishes %}
    <h3>Учителя незаполнившие форму:</h3>
    <ul>
        {% for lecturer in lecturers %}

            {% if lecturer.id not in wishes %}
                <li>
                    <a href="{% url 'lecturer_form' lecturer.id %}">{{ lecturer.first_name }} {{ lecturer.last_name }} {{ lecturer.middle_name }} {{ lecturer.email }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
    <div>
        <form id="myForm" action="" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
            <label>
                <em>Начало обучения:</em> <br>
                <input type="date" name="start" placeholder="Начало обучения" required>
            </label>
            <br>
            <label>
                <em>Конец обучения:</em><br>
                <input type="date" name="end" placeholder="Конец обучения" required>
            </label>
            <br><br>
            {% if error_message %}
                <p style="color:red">{{ error_message }}</p>
            {% endif %}
            <br><br>
            {% if not lecturers or lecturers == ' ' %}
                <button id="generic-schedule">Сгенерировать расписание</button>
            {% else %}
                <button>Сгенерировать расписание</button>
            {% endif %}
        </form>
    {% if tumetables %}
    <h2>Сгенерированные расписания:</h2>
    {% for timetable in tumetables %}
        <a href="{{ timetable.link }}">01.02.2024 - 01.03.2024</a>
    {% endfor %}
    {% endif %}
    </div>
    <script>
        function validateForm() {
            let form = document.getElementById('myForm');
            if (!form.checkValidity()) {
                return false;
            }

            showLoader();
            return true;
        }

        function showLoader() {
            document.getElementById('generic-schedule').innerHTML = 'Загрузка...';
        }

        function hideLoader() {
            document.getElementById('generic-schedule').innerHTML = 'Сгенерировать расписание';
        }
    </script>
{% endblock %}
