<script setup>
import LecturerForm from '@/components/LecturerForm.vue';
import ConForm from "@/components/ConectionForm.vue";
</script>

<template>
  <h1 v-if="lecturer_id"> Редактирование Учителя</h1>
  <h1 v-else>Добавление Учителя</h1>
  <br>
  <form>
    <h3 v-if="loading">Подождите данные загружаются...</h3>
    <LecturerForm :lecturer_data="lecturer_data" @email="onEmail" @first_name="onFirst_name"
                  @last_name="onLast_name" @middle_name="onMiddle_name" @telegram="onTelegram"
                  @number_of_phone="onNumber_of_phone" @lecturer="onLecturer"/>
    <br>
    <template v-if="lecturer_data_connection">
      <div v-for="(i, index) in number" v-bind:key="i">
        <ConForm :lecturer_data_con="lecturer_data_connection[index]"
                 @data_connection="onData_connection"/>
        <br>
        <br>
        <button @click.prevent="delete_subject(index)">Убрать дисциплину</button>
        <br>
      </div>
    </template>
    <template v-else>
      <div v-for="(i, index) in number" v-bind:key="i">
        <ConForm :lecturer_data_con="null" @data_connection="onData_connection"/>
        <br>
        <br>
        <button @click.prevent="delete_subject(index)">Убрать дисциплину</button>
        <br>
      </div>
    </template>
    <br>
    <button @click.prevent="add_subject">Добавить дисциплину</button>
    <br>
    <br>
    <button v-on:click.prevent="handleCreateLecturer" class="enter_btn bad_submit" type="submit">Сохранить</button>
  </form>
</template>

<script>
import {URL} from "@/services/const";
import axios from "axios";

axios.defaults.xsrfCookieName = 'csrftoken';
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

export default {
  data() {
    return {
      lecturer_id: '',
      lecturer_data: null,
      lecturer_data_connection: [],
      number: [],
      data_of_connection: {},
      data_of_lecturer: {},
      success_msg: '',
      err_msg: '',
      loading: false,
    }
  },
  created() {
    this.url = window.location.href;
      const components = this.url.split('/');
      const type_page = components[components.length - 1];
      if (type_page === 'edit') {
        this.lecturer_id = components[components.length - 2]
      }
      else {
        this.lecturer_id = NaN
      }
  },
  mounted() {
    if(this.lecturer_id){
      this.loading = true
      this.load_data_lecturers(this.lecturer_id)
    }
  },
  methods: {
    load_data(data) {
      this.lecturer_data = data
      let numbers = []
      let data_connection = []
      for(let key in data.connection){
        numbers.push(key);
        data_connection.push([key, data.connection[key], numbers.length])
      }
      this.lecturer_data_connection = data_connection
      this.number = numbers
    },
    async load_data_lecturers (id) {
      try {
        const response = await fetch(`${URL}/api/lecturers/${id}/`);
        const data = await response.json()
        this.load_data(data)
        this.loading = false
      } catch (error) {
        this.error = "Произошла ошибка при запросе данных, попробуйте еще раз"
        console.log(this.error)
        this.loading = false
      }
    },
    delete_subject(i) {
      this.number.splice(i, 1)
      delete this.data_of_connection[i+1]
      this.lecturer_data_connection.splice(i, 1)
    },
    add_subject() {
      this.number.push('');
    },
    onEmail(data) {
      this.data_of_lecturer['email'] = data['email']
    },
    onFirst_name(data) {
      this.data_of_lecturer['first_name'] = data['first_name']
    },
    onLast_name(data) {
      this.data_of_lecturer['last_name'] = data['last_name']
    },
    onMiddle_name(data) {
      this.data_of_lecturer['middle_name'] = data['middle_name']
    },
    onData_connection(data, index) {
      this.data_of_connection[index] = data
    },
    onTelegram(data) {
      this.data_of_lecturer['tg'] = data['telegram']
    },
    onNumber_of_phone(data) {
      this.data_of_lecturer['phone_number'] = data['number_of_phone']
    },
    handleCreateLecturer: function () {
      this.success_msg = ""
      this.err_msg = ""
      if(this.lecturer_id){
        axios({
          method: "POST",
          url: `${URL}/api/lecturer_edit/${this.lecturer_id}/`,
          headers: {'Content-Type': 'application/json'},
          data: [this.data_of_lecturer, this.data_of_connection]
        }).then(response => {
          this.success_msg = response.data['msg'];
          window.location = `${URL}/lecturers/`;
        }).catch(err => {
          this.err_msg = err.response.data['err'];
        });
      }
      else{
        axios({
          method: "POST",
          url: `${URL}/api/lecturer_add/`,
          headers: {'Content-Type': 'application/json'},
          data: [this.data_of_lecturer, this.data_of_connection]
        }).then(response => {
          this.success_msg = response.data['msg'];
          window.location = `${URL}/lecturers/`;
        }).catch(err => {
          this.err_msg = err.response.data['err'];
        });
      }
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 5px;
}

</style>
